<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.smzskj.crk">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--登录-->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">

        </activity>
        <!--出入库选择-->
        <activity
            android:name=".activity.SelectRepertoryActivity"
            android:screenOrientation="portrait">

        </activity>

        <!--入库列表-->
        <activity
            android:name=".activity.InListActivity"
            android:screenOrientation="portrait">

        </activity>

        <!--入库-->
        <activity
            android:name=".activity.InActivity"
            android:screenOrientation="portrait">

        </activity>

        <!--出库列表-->
        <activity
            android:name=".activity.OutListActivity"
            android:screenOrientation="portrait">

        </activity>

        <!--出库-->
        <activity
            android:name=".activity.OutActivity"
            android:screenOrientation="portrait">

        </activity>

        <!--出库v2-->
        <activity
            android:name=".activity.OutV2Activity"
            android:screenOrientation="portrait">

        </activity>

        <!--扫描-->
        <activity
            android:name=".activity.ScannerActivity"
            android:screenOrientation="portrait">

        </activity>
        <!--设置-->
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait">

        </activity>

        <!--查询-->
        <activity
            android:name=".activity.QueryActivity"
            android:screenOrientation="portrait">

        </activity>

        <!--盘点-->
        <activity
            android:name=".activity.PdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <!--盘点查询-->
        <activity
            android:name=".activity.PdListActivity"
            android:screenOrientation="portrait">

        </activity>

        <!--盘点查询-->
        <activity
            android:name=".activity.InListDetailActivity"
            android:screenOrientation="portrait">

        </activity>
        <!--盘点查询-->
        <activity
            android:name=".activity.UppwdActivity"
            android:screenOrientation="portrait">

        </activity>

        <!--离线操作-->
        <activity
            android:name="com.smzskj.crk.offline.activity.OffineActivity"
            android:screenOrientation="portrait">

        </activity>

        <!--离线盘点-->
        <activity
            android:name="com.smzskj.crk.offline.activity.OfflinePdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <!--离线盘点查询-->
        <activity
            android:name="com.smzskj.crk.offline.activity.OffinePdListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <!--离线盘点上传-->
        <activity
            android:name="com.smzskj.crk.offline.activity.OfflinePdUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <!--离线入库-->
        <activity
            android:name="com.smzskj.crk.offline.activity.OfflineInActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <!--离线入库列表-->
        <activity
            android:name="com.smzskj.crk.offline.activity.OfflineInListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <!--离线上传列表-->
        <activity
            android:name="com.smzskj.crk.offline.activity.OfflineInUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <!--离线出库-->
        <activity
            android:name="com.smzskj.crk.offline.activity.OfflineOutActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <!--离线出库上传列表-->
        <activity
            android:name="com.smzskj.crk.offline.activity.OfflineOutListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <!--离线出库上传-->
        <activity
            android:name="com.smzskj.crk.offline.activity.OfflineOutUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

        </activity>
    </application>

</manifest>